@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  font-family: "Acme", sans-serif;
  color: black;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  align-items: center;
  height: 100vh;
  width: 100%;
}
.header-container {
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 210px;
  top: 0;
}

.top_info {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.client-name {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
.top-bottom-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 4rem;
}
/* hambaga custom navbar */

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: transparent;
}
.brand h1 span {
  color: transparent;
}
/* Header section */
#header {
  /* position: fixed; */
  z-index: 1000;
  left: 0;
  top: 0;
  /* width: 100vw; */
  height: auto;
}
/* #header .header {
  min-height: 8vh;
  background-color: #f8f9fa;
  transition: 0.3s ease background-color;
} */
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #f8f9fa;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
  right: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);

  padding: 10px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(255, 255, 255, 0.021);
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: rgb(0, 0, 0);
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 985px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.2rem;
  }
  #header .nav-list ul a:after {
    display: none;
  } /* End header */
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
} /* End  Media Query For Desktop */

/* end f hambagar navbar */
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20rem;
}
.links a {
  text-decoration: none;
  padding: 1.5rem;
  font-size: 14px;
  color: #181818;
}
.top-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 48px;
}
.social_handles {
  display: flex;
  margin-left: 1rem;
  margin-right: -10rem;
}
.icons {
  padding: 0.7rem;
}
.social-icons {
  width: 30px;
  height: auto;
}
.about-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-client-link {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.about-client-link h5 {
  font-size: 30px;
  color: black;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.about-client-link a {
  text-decoration: underline;
  color: black;
}
.about-client-link a:hover {
  text-decoration: underline;
  color: rgb(94, 91, 91);
}

.About-text {
  font-size: 20px;
  text-align: left;
  margin: 5rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  padding: 10rem;
}
.about-bellow-text {
  display: flex;
  gap: 4rem;
  margin-top: 4.5rem;
  height: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5rem;
}
.A-b1 h4,
.A-b2 h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3rem;
}
.A-b1 p,
.A-b2 p {
  font-size: 18px;
}
.form-section {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
.form-itself {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.subscribe-input input {
  padding: 1.5rem 2rem;
  width: 150%;
}

.subscribe-btn {
  width: 30%;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.subscribe-btn button {
  width: 100%;
  border: none;

  height: 5rem;

  background-color: black;
  color: white;
}
.subscribe-btn button:hover {
  width: 100%;
  border: none;
  height: 5rem;
  background-color: rgb(50, 48, 48);
  color: white;
  animation-duration: 2ms;
}
.text-wrapp {
  background-color: #fefeff;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.Clients-name {
  text-decoration: none;
  color: #181818;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.client-name h1:hover {
  color: rgb(128, 122, 122);
}
.clients-job {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 300;
}
.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.footer-icons img {
  width: 38px;
}
.section-01 {
  margin-top: 250px;
}

.navbar-custom {
  height: 48px;
}
.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* contact styling */
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15rem;
  background-color: #f8f9fa;
  padding: 0px 0px;
}
.contact-form {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.title h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.Form-elements {
  align-items: center;
  justify-content: center;
  width: 100%;
}
form label {
  display: block;
}
.imgcontainer {
  justify-content: flex-end;
}
form {
  margin-top: 5rem;
}
.FWwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.FWelements {
  display: grid;
  gap: 0.5rem;
}
.FWwrapper label {
  display: block;
}
.FWwrapper input {
  display: block;
  width: 100%;
  height: 3.2rem;
  color: black;
  border-style: none;
  background-color: #f8f9fa;
  padding-left: 10px;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.input-hover {
  border: 1px solid;
  border-right-color: #f8f9fa;
  border-top-color: #f8f9fa;
  border-left-color: #f8f9fa;
  border-bottom-color: rgb(0, 0, 0);
}
.input-hover:hover {
  border: 1px solid;
  border-color: rgb(36, 35, 35);
}
.Swrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.Twrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.Twrapper textarea {
  height: 4.5rem;
  width: 100%;
  border-color: none;
  border-style: none;
  background-color: #f8f9fa;
}
.submit-btn {
  display: block;
  border: 1px solid black;
  width: 100%;
}
.submit-btn button {
  width: 100%;
  border: none;
  height: 3.7rem;
  background-color: black;
  color: white;
}
.submit-btn button:hover {
  width: 100%;
  border: none;
  height: 3.7rem;
  background-color: rgb(50, 48, 48);
  color: white;
  animation-duration: 2ms;
}

.top-contact-info {
  display: block;
  padding: 2rem 3rem;
}
.T001 {
  margin-bottom: 5rem;
}
.T001 p {
  font-size: 1.6rem;
  color: gray;
}
.dates-opened {
  padding: 1rem;
}
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.monday p,
.tuesday p,
.wednesday p,
.thursday p,
.friday p,
.saturday p,
.sunday p {
  font-size: 1.65rem;
  font-weight: 600;
}
.left {
  color: gray;
  font-weight: 0;
}
/* about style */
.about-page-text {
  display: block;
  gap: 2rem;
  padding-left: 30%;
  padding-right: 30%;
}

.about-page-text h1,
.about-page-text h2 {
  font-size: 4rem;
  line-height: 50px;
  padding-bottom: 2rem;
  font-weight: 600;
}
.about-page-text h2 {
  text-align: center;
}
.about-page-text p,
.about-page-text p {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
/* end of about style */

/* publication page customisation */
.publication-p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgb(32, 32, 32);
  letter-spacing: 0.1rem;
}
.publication-p a {
  text-decoration: underline;
  cursor: pointer;
}
.publication-p a:hover {
  text-decoration: none;
  color: black;
}
/* end of publication page customisation */

/* galary styling */
.image {
  display: flex;
  height: 400px;
  width: 400px;

  margin-bottom: 3%;
  border-radius: 2rem;
}
.image1,
.image2,
.image3,
.image4,
.image5 {
  border: 1px solid rgba(216, 203, 203, 0.75);
  margin: 20px;
  padding: 2%;
  border-radius: 2rem;
  background-color: #f8f9fa;
}
.image1 a,
.image2 a,
.image3 a,
.image4 a,
.image5 a {
  text-decoration: underline;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}
.image1 a:hover,
.image2 a:hover,
.image3 a:hover,
.image4 a:hover,
.image5 a:hover {
  text-decoration: none;
  color: rgb(112, 109, 109);
  cursor: pointer;
}
.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover {
  border: 1px solid transparent;
  margin: 20px;
  padding: 2%;
  border-radius: 2rem;
  background-color: #f8f9fa;
}
.row1wrapper {
  display: inline-flex;

  gap: 4rem;
}
.row2wrapper {
  display: inline-flex;

  gap: 4rem;
}
.row3wrapper {
  display: inline-flex;

  gap: 4rem;
}
.foundation-header h1 {
  margin-bottom: 1rem;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.galary-customisation {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
}
/* end of galary styling */

@media (max-width: 985px) {
  * {
    font-size: 9px;
  }
  .imgcontainer {
    height: 100px;
    width: 100px;
  }
  .top-bottom-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
  }
  /* .navbar-custom {
    width: 100vw;
  } */
  .social_handles {
    /* display: flex;
  margin-left: 1rem;
  margin-right: -10rem; */
    display: none;
  }

  .about-client {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .contact-wrapper {
    display: block;
    align-items: center;
    gap: 8rem;
    background-color: #f8f9fa;
  }
  /* top info resize customizatin */
  .header-container {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 170px;
    top: 0;
  }
  .top_info {
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 10px;
    padding-top: 25px;
  }
  .homeImg_wrapper {
    display: flex;
    border: 3px solid transparent;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    overflow: hidden;
  }
  .Home_img {
    max-width: 100%;
    max-height: 60%;
  }
  .imgcontainer {
    display: none;
  }

  .About-text {
    font-size: 1.5rem;

    margin: 0rem;
    padding: 0rem;
    text-align: left;
  }
  .Clients-name {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #181818;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
  }
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 0.5rem;
  }
  /* end of top castomisation */
  .section-01 {
    margin-top: 170px;
  }

  .contact-wrapper {
    border: 2px solid transparent;
    border-radius: 60px;
    max-height: 100px;
  }
  .FWwrapper {
    display: block;

    gap: 1rem;
  }
  .submit-btn {
    display: block;
    border: 1px solid black;
    border-radius: 3rem;
    overflow: hidden;
    width: 60%;
  }
  .FWwrapper input {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2rem;
    height: 4rem;
    padding-left: 10px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .input-hover {
    border: 1px solid;
    border-right-color: #f8f9fa;
    border-top-color: #f8f9fa;
    border-left-color: #f8f9fa;
    border-bottom-color: #f8f9fa;
  }
  .input-hover:hover {
    border: 1px solid;
    border-color: #f8f9fa;
  }
  .icons {
    padding: 0.5rem;
  }
  .social-icons {
    width: 10px;
    height: auto;
  }
  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .footer-icons img {
    width: 20px;
  }
  .About-text {
    font-size: 1.4rem;
    text-align: center;
    margin: 2rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }
  .container {
    margin: 50px;
  }
  form label {
    font-size: 10px;
  }
  .about-client-link {
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .about-client-link h5 {
    font-size: 2rem;
  }
  .about-bellow-text {
    display: block;
  }
  .about-bellow-text p {
    font-size: 1.3rem;
    margin-bottom: 5rem;
  }
  .form-itself {
    gap: 1rem;
  }
  footer {
    display: none;
  }
  .section-01 {
    margin-bottom: 30px;
  }
  .about-page-text {
    display: block;
    gap: 2rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  .about-page-text h1,
  .about-page-text h2 {
    font-size: 2rem;
    line-height: 25px;
    padding-bottom: 2rem;
    font-weight: 400;
  }
  .about-page-text h2 {
    text-align: center;
  }
  .about-page-text p,
  .about-page-text p {
    font-size: 1.2rem;
  }
  /* galary styling */
  .image {
    display: flex;
    height: 200px;
    width: 200px;
    margin-bottom: 2%;
    border-radius: 0rem;
  }
  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    border: 1px solid transparent;
    margin: 10px;
    margin-bottom: 20px;
    padding: 1%;
    border-radius: 2rem;
    background-color: white;
  }
  .image1 a,
  .image2 a,
  .image3 a,
  .image4 a,
  .image5 a {
    text-decoration: underline;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  .image1 a:hover,
  .image2 a:hover,
  .image3 a:hover,
  .image4 a:hover,
  .image5 a:hover {
    text-decoration: none;
    color: rgb(112, 109, 109);
    cursor: pointer;
  }
  .image1:hover,
  .image2:hover,
  .image3:hover,
  .image4:hover,
  .image5:hover {
    border: 1px solid transparent;
    margin: 20px;
    padding: 2%;
    border-radius: 2rem;
    background-color: #f8f9fa;
  }
  .row1wrapper {
    display: block;
    gap: 4rem;
  }
  .row2wrapper {
    display: block;

    gap: 4rem;
  }
  .row3wrapper {
    display: block;

    gap: 4rem;
  }
  .foundation-header {
    margin-top: 10rem;
  }
  .foundation-header h1 {
    margin-bottom: 1rem;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 10%;
    text-align: left;
   
  }
  .galary-customisation {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
  }
  /* end of galary styling */
}
